<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.css}">
</head>
<body>
<div th:replace="~{navigation.html}"></div>

<h1>Error</h1>
<ul>
    <li th:each="error : ${errors}">
        <span th:text="${error.key}"></span>: <span th:text="${error.value}"></span>
    </li>
</ul>
<div>
    <p th:text="${errorMessage}"></p>
</div>
<script th:src="@{webjars/jquery/3.7.0/dist/jquery.js}"></script>
<script th:src="@{webjars/bootstrap/5.3.0/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>

